:root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-beige: rgb(238, 232, 212);
  /* Font size */
  --font-large: 48px;
  --font-Small-large: 38px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* font-style: ; */
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  background-color: var(--color-dark-white);
}
strong{
  color: var(--color-blue);
}
.page{
  /* position: fixed; */
  position: relative;
  overflow-y: auto;
  max-width: 1480px;
  min-width: 1350px;
  width: 100vw;
  border-radius: var(--font-medium);
  height: 95vh ;
  background-color: var(--color-white);
  box-shadow: 5px 5px 10px var(--color-dark-white);
  margin: 0 200px;
  margin-top: 2.5vh;
  padding: 0 var(--font-large);
}

/* 스크롤 */
.sa {
  opacity: 0;
  transition: all .3s ease-in;
}
::-webkit-scrollbar{
  overflow: scroll;
}
/* 아래에서 위로 페이드 인 */
.sa-up {
  transform: translate(0, 100px);
}
.sa.show {
  opacity: 1;
  transform: none;
}
.sa.remove {
  opacity: 0;
}
.header{
  position: absolute;
  top: 20px;
  right: 30px;
}
.header nav{
  display: flex;
  align-items: flex-end;
}
.header span{
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-grey);
  margin-right: 8px;
}
.header a{
  padding: 0 8px;
}
.header img{
  width: var(--font-Small-large);
  background-color: var(--color-white);
}
header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 45vh;
  margin-bottom: 100px;
  padding-bottom: var(--font-large);
}
header .introText{
  margin: 0px var(--font-large);
  
}
header .introText h1{
  font-size: 100px;
  color: var(--color-orange);
  font-weight: var(--weight-bold);
}
header .introText span{
  font-size: 86px;
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
}
header .myImg{
  margin: 0px var(--font-large);
  
}
header .myImg img{
  border-radius: var(--font-micro);
}
main .intro{
  font-size: var(--font-Small-large);
  font-weight: var(--weight-bold);
  line-height: 2fr;
  color: var(--color-dark-grey);
  padding: var(--font-large);
  border-top: var(--color-light-white) solid 1px;
  padding-bottom: var(--font-large);
}
main .whoAmI{
  padding: var(--font-large);
  border-top: var(--color-light-white) solid 1px;
  padding-bottom: var(--font-large);
}
main .whoAmI h3{
  font-size: var(--font-large);
  color: var(--color-orange);

}
main .whoAmI ul{
  margin-top: var(--font-medium);
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  line-height: 3fr;
}
main .skill{
  padding: var(--font-large);
  border-top: var(--color-light-white) solid 1px;
}
main .skill h3{
  font-size: var(--font-large);
  color: var(--color-orange);
  margin-bottom: var(--font-medium);
}
main .skill .list ul{
  padding: 0;
}
main .skill .list li{
  list-style: none;
}
main .skill .list{
  display: flex;
  justify-content:space-between;
  padding-right: var(--font-large);
  
}
.stack {
  font-size: var(--font-Small-large);
  color: var(--color-blue);
}
main .skill li img{
  height: var(--font-medium);
  margin-top: var(--font-micro);
}
main .elice{
  padding: var(--font-large);
  border-top: var(--color-light-white) solid 1px;
  padding-bottom: var(--font-large);
}
main .elice h3{
  font-size: var(--font-large);
  color: var(--color-orange);
  margin-bottom: var(--font-medium);
}
main .elice p{
  font-size: var(--font-medium);
}